@import "../../styles/variables.scss";

.Container {
  h1 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-bottom: 25px;
  }

  .Icon {
    font-size: 100px;
    margin: 20px 0;
  }

  .TempContent {
    margin: 25px 0;
    font-size: 0.8rem;
    line-height: 0.5em;

    .MinMax {
      & > span {
        padding: 0 20px;
        font-size: 0.7rem;
      }
    }
  }

  h4 {
    font-weight: 400;
    font-size: 0.85rem;
  }
}
