@import "../../styles/variables.scss";

.Container {
  @include FlexCenterAll();
  flex-flow: column;
  background-color: $TabColor;
  width: 50%;
  height: 60%;
  max-width: 500px;
  max-height: 720px;
  min-width: 200px;
  min-height: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 50px 1px $TabShadowColor;

  .CityName {
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-top: 5%;
  }

  .Icon {
    font-size: 100px;
    margin: 5% 0;
  }

  .TempMain {
    font-size: 1.5rem;
  }

  .MinMax {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2%;

    & > span {
      padding: 0 20px;
    }
  }

  .Description {
    font-weight: 400;
    font-size: 0.8rem;
    padding-bottom: 25px;
  }

  @media (orientation: landscape) {
    min-height: 320px;
  }
}
