// Tab Colors
$TabColor: rgba(255, 255, 255, 0.7);
$TabShadowColor: rgba(0, 0, 0, 0.75);
// SearchBar Colors
$SearchBarColor: rgba(225, 225, 255, 0.3);
$SearchBarFocusColor: rgba(225, 225, 255, 0.7);
$SearchBarShadowColor: rgba(0, 0, 0, 0.2);

$GlobalFontColor: rgba(58, 67, 16, 0.6);
$textShadow: 2px 0.5px rgba(58, 67, 16, 0.2);

@mixin FlexCenterAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Media-queries
// mobile devices
$breakpoint-mobileMin: 320px;
$breakpoint-mobileMax: 480px;
// iPads, Tablets
$breakpoint-tabletMin: 481px;
$breakpoint-tabletMax: 768px;
// Small screens, laptops
$breakpoint-laptopMin: 769px;
$breakpoint-laptopMax: 1024px;
// Desktops, large screens
$breakpoint-desktopMin: 1025px;
$breakpoint-desktopMax: 1200px;
// Extra large screens
$breakpont-LargeDesktop: 1201px;