$TabColor: rgba(255, 255, 255, 0.7);
$TabShadowColor: rgba(0, 0, 0, 0.75);
$SearchBarColor: rgba(225, 225, 255, 0.3);

@mixin FlexCenterAll {
    display: flex;
    justify-content: center;
    align-items: center;
}