// Tab Colors
$TabColor: rgba(255, 255, 255, 0.7);
$TabShadowColor: rgba(0, 0, 0, 0.75);
// SearchBar Colors
$SearchBarColor: rgba(225, 225, 255, 0.3);
$SearchBarFocusColor: rgba(225, 225, 255, 0.7);
$SearchBarShadowColor: rgba(0, 0, 0, 0.2);

$GlobalFontColor: rgba(58, 67, 16, 0.6);
$textShadow: 2px 0.5px rgba(58, 67, 16, 0.2);

@mixin FlexCenterAll {
    display: flex;
    justify-content: center;
    align-items: center;
}