@import "../../styles/variables.scss";

.SearchBar {
  border: none;
  border-radius: 10px;
  background-color: $SearchBarColor;
  width: 30%;
  max-width: 350px;
  min-width: 170px;
  padding: 0.5%;
  margin-bottom: 2vh;
  font-size: 0.7rem;
  text-align: center;
  outline: none;
  box-shadow: 0 4px $SearchBarShadowColor;
  transition: background-color 0.4s ease;

  &:focus {
    background-color: $SearchBarFocusColor;
  }
}
